# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=fetcher
PORT=5904

# Internal service URLs
AUTHENTICATOR_SERVICE_URL=http://localhost:5900

# Database URIs
MONGO_URI=mongodb://localhost:27017/governify-next

# JWT configuration
CLIENT_ID=fetcher
CLIENT_SECRET=fetcher_client_secret
JWT_SECRET=governify_next_secret_key
JWT_ISSUER=authenticator
JWT_AUDIENCE=governify-next