# Service configuration
NODE_ENV=development
GOV_LOG_LEVEL=INFO
GOV_SERVICE_NAME=MyService
PORT=3000

# Database URIs
MONGO_URI=mongodb://localhost:27017/mern_example

# JWT configuration
JWT_SECRET=governify_secret_key